<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326117094573-5sunqvj56nivsr7mjphj4na60fatikqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326117094573-5sunqvj56nivsr7mjphj4na60fatikqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDf6nWh8omoFjdj3fGLX7agCwUxeFzVUR4</string>
	<key>GCM_SENDER_ID</key>
	<string>326117094573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kayosys.ToDoAppDemo</string>
	<key>PROJECT_ID</key>
	<string>todoappdemo-8d102</string>
	<key>STORAGE_BUCKET</key>
	<string>todoappdemo-8d102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326117094573:ios:88ea6e68d6989777</string>
	<key>DATABASE_URL</key>
	<string>https://todoappdemo-8d102.firebaseio.com</string>
</dict>
</plist>